<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucas.sampleapplication">

    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicIntentActivity"
            android:label="@string/label_activity_basic_intent"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".DynamicActivity"
            android:label="@string/label_activity_dynamic"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ListActivity"
            android:label="@string/label_activity_list"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".BroadcastActivity"
            android:label="@string/label_activity_broadcast"
            android:parentActivityName=".MainActivity"/>

        <receiver android:name=".helpers.BroadcastHelper"/>

        <activity android:name=".ImplicitActivity"
            android:label="@string/label_activity_implicit"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>